<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.artlite.pluginmanagerapi">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name=".services.PSManagerListeningService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name=".services.PSPluginListeningService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name=".services.PSPluginActionService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />
    </application>

</manifest>
